.title{
    background-color: #1a8e52;
    border-radius: 15px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
}

.list {
    margin: 10px;
}

ul {

    color: aqua;
}